<!DOCTYPE html>

<html>

<head>
    <!--<meta http-equiv="refresh" content="3">-->
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<title>Leaflet Web Map</title>

<style>
    #map {
    top: 0.5vh;
    left: 0.5vw;
    width: 60vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
    }

    #driveinfo {
    top: 0.5vh;
    left: 0.5vw;
    background-color: green;
    z-index: 2;
    position: absolute;
    width: 50px;
    height 20px;
    }

</style>

</head>

<body>
<div id="driveinfo" style="width:400px; height:150px">HELLO</div>
<div id="map"></div>


<script>

        var map = L.map('map').setView([32.8089545, -96.7971913], 9);
        mapLink =
            '<a href="http://openstreetmap.org"></a>';
        L.tileLayer(
            'https://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
            attribution: 'Quadratic Insights',
            maxZoom: 18,
            }).addTo(map);


</script>

</body>

</html>