<!doctype html>
<html lang="en">
  <head>
    <link href="css/styles.css" rel="stylesheet" />
    <meta http-equiv="refresh" content="600">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Embed Demo</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}

    <!--For the Leafletjs Map-->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

      <!--The styles for the divs-->
      <style>
      #tempgraph {
      bottom: 15vh;
      left: 0.5vw;
      width: 66vw;
      height: 33vh;
      z-index: 1;
      position: absolute;
      }

      #map {
      top: 0.5vh;
      left: 0.5vw;
      width: 60vw;
      height: 50vh;
      z-index: 1;
      position: absolute;
      }

    </style>
  </head>
  <body style="background-color:#2b2b2b;">

    <div id="map"></div>

    <div id="tempgraph">
      {{ div_temp|indent(4)|safe }}
      {{ script_temp|indent(4)|safe }}
    </div>


    <!--Weather widget-->
    <!--<div style="width: 20%; display: inline-block; float:right; top:100px">-->
    <div style="width: 20%; display: inline-block; position:absolute; left:100px; top:200px;">

      {{ plot_div3 | safe }}
      {{ plot_script3 | safe }}

    </div>

    <!--The driving widget-->
    <div style="width: 20%; display: inline-block; position:absolute; left:1245px; top:68px;">

      {{ plot_div2 | safe }}
      {{ plot_script2 | safe }}

    </div>


    <script>

        var map = L.map('map').setView([32.8089545, -96.7971913], 9);
        mapLink =
            '<a href="http://openstreetmap.org"></a>';
        L.tileLayer(
            'https://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
            attribution: 'Quadratic Insights',
            maxZoom: 18,
            }).addTo(map);


    </script>
  </body>
</html>